In [57]:
import pandas as pd
import numpy as np
import math as mt

In [58]:
data = pd.read_csv('D:/python/python/Files/4/water.csv',delimiter=";")
data.shape

(61, 4)

In [59]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [60]:
data_mean=data.mean()

In [63]:
data_mean_std=data.std(ddof=1)/mt.sqrt(len(data))

In [64]:
from statsmodels.stats.weightstats import _tconfint_generic

In [65]:
print("95%% confidence interval", _tconfint_generic(data_mean[0], data_mean_std[0],
                                                                       len(data) - 1,
                                                                       0.05, 'two-sided'))

95%% confidence interval (1476.0833413552848, 1572.2117406119285)

In [71]:
df = data.loc[data['location'] != 'South']

In [72]:
df_mean=df.mean()
df_mean_std=df.std(ddof=1)/mt.sqrt(len(df))

In [73]:
print("95%% confidence interval", _tconfint_generic(df_mean[0], df_mean_std[0],
                                                                       len(df) - 1,
                                                                       0.05, 'two-sided'))

95%% confidence interval (1586.5605251961385, 1680.6394748038613)

In [76]:
19*19

361